/*formuläret*/
.container {
    border-radius: 5px;
    background-color: #fcbfb7;
    padding: 20px;
}

input,
textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: vertical;

}

label {
    padding: 12px 12px 12px 0;
    display: inline-block;
    justify-content: center;

}

.col-25 {
    float: left;
    width: 100%;
    margin-top: 6px;
    margin-left: 10px;

}


.col-75 {
    float: left;
    width: 100%;
    margin-top: 6px;
}

/* för att gömma olika delar*/

.hide {
    display: none;
}

/*tackmeddelande*/



/*knapp för felmeddelande */
.inventory {
    background-color: #fcd757;
    box-shadow: none;
    border-style: none;
}



@media screen and (min-width: 600px) {

    .col-25 {
        float: right;
        width: 25%;
        margin-top: 6px;
        margin-left: 10px;

    }

    .col-75 {
        float: left;
        width: 50%;
        margin-top: 6px;
    }

    .row:after {
        content: "";
        display: table;
        clear: both;
    }

    label {
        padding: 12px 12px 12px 6px;
        display: flex;
        justify-content: right;
    }


    #submitBtn {
        width: 50%;

    }

}

@media screen and (min-width: 830px) {
    .col-25 {

        margin-top: 6px;
        margin-left: 10px;

    }

    .col-75 {
        float: left;
        margin-right: 100px;
    }

    input,
    textarea {
        width: 70%;
    }

    #submitBtn {
        width: 30%;

    }
}