/* 
Hover product name: #9BC1BC
Button: #FCD757
Menu: #FCBFB7
Hover menu: #568A83

 */
.body {
  display: flex;
  justify-content: center;
  background-image: url("../assets/pexels-alexander-grey-3866851.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.my-4 {
  font-family: "Prompt", sans-serif;
  color: #00a7e1;
  text-align: left;
  padding: 20px 30px;
  font-size: 70px;
}

.menu {
  display: flex;
  justify-content: space-between;
  background-color: #ffb8d1;
  width: 100%;
  padding: 20px;
  margin: 2px 0px;
  font-size: 20px;
}

.menu-btn {
  color: #fff;
  box-shadow: none;
  border-style: none;
  margin: 0px;
  padding: 20px;
}

.menu-btn:hover {
  color: #00a7e1;
}

.container {
  background-color: #fff;
  border-radius: 5px;
  height: 100%;
  margin: 0px;
}

.shopping-cart-btn {
  background-color: #fcd757;
  box-shadow: none;
  border-style: none;
}

.shopping-cart-btn:hover {
  background-color: #00a7e1;
}

.read-more-btn:hover {
  background-color: #00a7e1;
  border-radius: 5px;
}

.catalog {
  background-color: #fff;
  border-radius: 0px 0px 5px 5px;
}

.product-container {
  background-color: rgb(145, 145, 144);
  height: 350px;
  max-width: 250px;
  position: relative;

  background-color: #fff;
  box-shadow: 2px 5px 10px 0px;
  border-radius: 5px;
}

.products-grid {
  background-color: dimgray;
}

.description-text {
  font-size: 14px;
}

.read-more-btn {
  position: absolute;
  bottom: 12px;
  right: 15px;
  padding: none;

  background-color: #fcd757;
  box-shadow: none;
  border-style: none;
}
