
body {
    display: flex;
    justify-content: center;
    background-image: url("../bortakvall-assets/pexels-polina-tankilevitch-5469042.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  /* menyn */

  h1{
    font-family: "Fredoka One", cursive;
    color: #ffb8d1;
    text-align: left;
    padding: 20px 30px;
    font-size: 70px;
    cursor: default;
    background-color: #fff;
  }
  @media screen and (max-width: 768px) {
    h1{
      font-size: 10vw;
    }
  }
  
  .color-change {
    color: #00a7e1;
  }
  
  .menu.navbar-expand.navbar-nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: #00a7e1;
    width: 100%;
    padding: 20px;
    font-size: 20px;
    margin-top: -10px;
  }
  
  .menu-btn {
    text-decoration: none;
    color: #fff;
    box-shadow: none;
    border-style: none;
    margin: 0px;
    padding: 20px;
    transition: 0.5s;
    
  }
  
  .menu-btn:hover {
    color: #ffb8d1;
    text-decoration: none;
  }
  
  .shopping-cart-btn {
    background-color: #ffb8d1;
    padding: 15px;
    box-shadow: none;
    border-style: none;
    transition: 0.5s;
  }
  
  .shopping-cart-btn:hover {
    background-color: #fcd757;
  }
  
  .shopping-cart-roll-down {
    display: flex;
    justify-content: right;
    flex-direction: column;
    background-color: #fff;
    height: 600px;
    width: 400px;
    overflow: scroll;
    padding: 10px;
    box-shadow: 2px 5px 10px 0px;
    z-index: 10;
    position: absolute;
  }
  
  .cart-product {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    padding: 10px;
    height: fit-content;
    width: 100%;
    border-bottom: 0.5px gray solid;
  }
  
  .cart-description {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 10px;
    height: 70%;
    width: 100%;
    margin-left: 5px;
  }
  
  .product-name {
    font-size: 20px;
  }
  
  .show-amount-in-cart {
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: 15px;
    width: fit-content;
  }
  
  .increase {
    display: flex;
    align-items: center;
    text-align: center;
    padding: 10px;
    font-size: 20px;
    cursor: pointer;
    margin: 10px 0px;
    width: 30px;
    height: 30px;
    transition: 0.5s;
  }
  
  .increase:hover {
    color: #00a7e1;
  }
  
  .amount {
    border: gray 0.5px solid;
    padding: 0px 10px;
    width: 30px;
    height: 30px;
  }
  
  .decrease {
    display: flex;
    align-items: center;
    text-align: center;
    padding: 10px;
    font-size: 20px;
    cursor: pointer;
    margin: 10px 0px;
    width: 30px;
    height: 30px;
    transition: 0.5s;
  }
  
  .decrease:hover {
    color: #00a7e1;
  }
  
  .check-out {
    bottom: 12px;
    right: 15px;
    padding: 10px 0px;
    margin: 10px 0px;
  
    background-color: #fcd757;
    box-shadow: none;
    border-style: none;
    transition: 0.5s;
  }
  
  .check-out:hover {
    background-color: #00a7e1;
  }
  

/*formuläret*/

.customer-container {
    border-radius: 5px;
    background-color: #ffb8d1;
    padding: 20px;
    position: relative;

}

input,
textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: vertical;

}

label {
    padding: 12px 12px 12px 0;
    display: inline-block;
    justify-content: center;

}

.col-25 {
    float: left;
    width: 100%;
    margin-top: 6px;
    margin-left: 10px;

}


.col-75 {
    float: left;
    width: 100%;
    margin-top: 6px;
}

/* för att gömma olika delar*/

.hide {
    display: none;
}

/*tackmeddelande*/

#confirmation {
    box-shadow: 2px 5px 10px 0px;
    border-radius: 5px;
    background-color: #fcbfb7;
}

#wrong {
    box-shadow: 2px 5px 10px 0px;
    border-radius: 5px;
    background-color: #fcbfb7;
}

/*knapp för felmeddelande */
.back {
    background-color: #fcd757;
    box-shadow: none;
    /* border-style: none; */
    border-color: black;
}



@media screen and (min-width: 600px) {

    .col-25 {
        float: right;
        width: 25%;
        margin-top: 6px;
        margin-left: 10px;

    }

    .col-75 {
        float: left;
        width: 50%;
        margin-top: 6px;
    }

    .row:after {
        content: "";
        display: table;
        clear: both;
    }

    label {
        padding: 12px 12px 12px 6px;
        display: flex;
        justify-content: right;
    }


    #submitBtn {
        width: 50%;
    }

    /*konfirmation / felmeddelande */
    #confirmation {
        width: 70%;

    }

    #wrong {
        width: 70%;
    }

}

@media screen and (min-width: 830px) {
    .col-25 {

        margin-top: 6px;
        margin-left: 10px;

    }

    .col-75 {
        float: left;
        margin-right: 100px;
    }

    input,
    textarea {
        width: 70%;
    }

    #submitBtn {
        width: 30%;

    }

    /*konfirmation / felmeddelande */
    #confirmation {
        width: 60%;
    }

    #wrong {
        width: 60%;
    }
}